---
title: Welcome to our Study Block Project
---

  <ul class = "ul">
    <li><a href="home.html">Home</a></li>
    <li><a href="Geography.html">Geography</a></li>
    <li><a href="History.html">History</a></li>
    <li><a href="Tourism.html">Tourism</a></li>
    <li><a href="Music.html">Music</a></li>


  </ul>
<div class="discover">
  <h1>Discover Albania</h1>
  <p >
<iframe width="500" height="315" src="https://www.youtube.com/embed/aHebvyCnkio" frameborder="0" allowfullscreen></iframe>



  </p><!-- .doc -->
</div><!-- .welcome -->
